*{
	margin: 0;
	padding: 0;
}
body {
	font-family: 'Open Sans', sans-serif;
	background : url("../images/bg/noisy_net.png");
	color      : #FFF;
}

a{
	text-decoration: none;
	color          : #BBB;
	text-transform : uppercase;
}

.main{
	max-width    : 100%;
	height       : 600px;
	margin       : 20px auto;
	/*background   : linear-gradient(bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.6));
	background   : -webkit-linear-gradient(bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.6));
	background   : -moz-linear-gradient(bottom, rgba(0,0,0,0.2), rgba(0,0,0,0.6));*/
	padding      : 10px;
	font-size    : 14px;
}

.main .nav {
	border-bottom: 2px solid #BBB;
	padding: 10px;
}

.main .nav ul {
	list-style-type: none;
	color          : #fff;
	padding        : 0;
	margin         : 0;
}

.main .nav ul li {
	display: inline;
}

li.right{
	float: right;
}
@media (max-width: 500px){
	.main .nav ul {
		float: none;	
	}

	.main .nav ul li{
		text-align: center;
		clear     : both;		
		display   : block;
		border    : 1px solid white;
	}
	li.right{
		float: none;
	}
}

.main .nav ul li a {
	color          : #AAA;
	padding        : 10px;
	text-decoration: none;
	transition     : color 0.5s;
	border-radius  : 5px 5px 0 0;
}

.main .nav ul li a:hover {
	color: #FFF;
}

.clearfix{
	content: " ";
	clear  : both;
}

.main .content{
	margin-top: 20px;
	max-width: 100%;
	height: 80%;
	padding: 0 10px;
}

